/* #contact{
    margin-left: 0;
    text-align: right;
    background-color: wheat;
    width: ;
} */
#footerSecondSection{
    margin-top: 1%;
    padding: 0;    
}

.footerSecondSectionItem{
  width:25%;
  word-wrap: break-word;
  font-size-adjust: auto;
  text-align:center;

}

.fa-facebook {
    color: white;    
    background-color: #3B5998;
    font-size: 150%;    
}
.bi-facebook {
    color: #3B5998;
    background-color: white;
    font-size: x-large;
}
  .bi-twitter {
    color: #55ACEE;
    font-size: x-large;
  }

  .bi-google {
    color: #dd4b39;
    font-size: x-large;
  }

  .bi-linkedin {
    color: #007bb5;
    font-size: x-large;
  }
  .bi-youtube {
    color: #bb0000;
  }
  .fa-instagram {    
    font-size: x-large;
    color:white;
    border-radius: 20%;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .bi-instagram {  
    font-size: x-large;  
    color:white;
    border-radius: 20%;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

  .bi-whatsapp {
    color: white;
    background-color: #4FCE5D;
    border-radius:150%;
    font-size: x-large;
  }

  .bi-pinterest {
    color: #cb2027;
    font-size: x-large;
  }
  .fa-snapchat-ghost {
    color:white;    
    background-color:yellow;
    font-size: 150%;
  }

  .bi-skype {
    color: #00aff0;
    font-size: x-large;
  }

  .bi-github {
    color:white;
    font-size: x-large;
  }
  @media screen and (max-width: 768px){
      span{
        color:#bc1888;
        font-size: 80%;
      }
      p{
        color:#00aff0;
        font-size:70%;
      }
}