<footer id="footer" class="container-fluid">
  <section    
    class="d-flex justify-content-between p-4"
  >
    <!-- Left -->
    <div>
      <span class='d-none d-md-block'>Mes contacts sur les réseaux sociaux: </span>      
    </div>    
    <!-- Right -->
    <div class='d-inline-flex overflow-scroll d-md-block'>
      <a href="" class="me-4 text-reset">
        <i class="rounded circle-icon fa fa-facebook "></i>        
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-snapchat-ghost rounded"></i>   
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
    <!-- Section: Links  ----------------------------------------------------------------->
    
      <!-- <div id='cont' class=" d-flex justify-content-xl-between text-md-start mt-5 "> -->
        <!-- Grid row -->
  <section
        id="footerSecondSection"
    class="container-fluid d-flex justify-content-between">
          <!-- Grid column -->
    <div class="footerSecondSectionItem">
            <!-- Content -->
            <span 
              class="text-uppercase fw-bold mb-4">
              MetiisseCore Corporation
            </span>
            <blockquote>
              <p>
                Je suis un artiste qui fait du son des videos etc ...<br>                
              </p>
            </blockquote>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="footerSecondSectionItem">
            <!-- Links -->
            <span class="text-uppercase fs-10 fw-bold mb-4">
              Partenariats
            </span>
            <p>
              <a href="#!" class="text-reset">Pyramiid Productions</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Bus Paradise</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Jacquie et michel</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Moulinga</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="footerSecondSectionItem">
            <!-- Links -->
            <span class="text-uppercase fs-10 fw-bold mb-4">
              Contact
            </span>
            <p>
              <i class="bi bi-house-door-fill"></i>  Adresse Metisse Core
            </p>
            <p>
              <i class="bi bi-envelope-fill"></i>  jeremy@gmail.com
            </p>
            <p>
              <i class="bi bi-telephone-fill"></i>  06 06 06 06 06
            </p>
            <p>
              <i class="bi bi-printer-fill"></i>
               + 01 234 567 89
            </p>
          </div>
          <!-- Grid column -->
        
        <!-- Grid row -->
        </section>
    

  <!-- Copyright -->
  <div class="container-fluid text-center p-4 border">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Moulinga Iba</a>
  </div>
  <!-- Copyright -->

</footer>