<div id="main-container">  
    <div id="main-container-line">
        <button id='selectionButton'>
            <i style='font-size:300%;color:red' class="bi bi-camera-fill h1"></i>
            <span style='font-size:200%;color:yellow;margin-left: 1rem;'>Photos</span>
        </button>
        <button id='selectionButton'>
            <i style='font-size:300%;color:red' class="bi bi-music-note-beamed"></i> 
            <span 
                style='font-size:200%;color:yellow;
                        margin-left: 1rem;'>
                Musique
            </span>
        </button>
    </div>  
    <div id="main-container-line">  
        <button class='selectionButton'>
            <i style='font-size:250%;color:red' class='fas fa-tshirt'></i>
            <span style='font-size:200%;color:yellow;margin-left: 1rem;'>Creation vetements</span>
        </button>
        <button class='selectionButton'>
            <i style='font-size:200%;color:red' class="fas fa-exclamation-triangle"></i>
            <span style='font-size:200%;color:yellow;margin-left: 1rem;'>X-medias</span>
        </button>    
    </div>
    <div id="main-container-line">  
        <button style='width:85%'>
            <!-- <span style='font-size:250%;color:yellow;margin-left: 1rem;'> -->
                <h2>
                    Je veux en savoir plus !
                </h2>
                <!-- </span> -->
        </button>
    </div>
</div>